*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background:url(assets/bg-hero-mobile.svg) 
    #ECF9FF no-repeat;

}

nav button{
    background-color: #fefefe;
    border-radius: 25px;
    width: 30%;
    padding: 5px;
    border: white;
    box-shadow: -1px 2px 10px 1px grey;
    margin-left: 7.5rem;
    
}
nav .btn{
position: absolute;
top: 2.3rem;
}

nav img{
    width: 30%;
    margin-top: 40px;
}

.hero-section{
    text-align: center;
}

.hero-section h2{
    width:70%;
    margin: auto;
    line-height: 2rem;
    margin-top: 2.5rem;
}

.hero-section p{
    width: 67%;
    margin: auto;
    text-align: center;
    margin-top: 1.3rem;
    line-height: 1,3rem;
}
.hero-content >button{
    margin: 2rem 0 3rem 0;
    height: 2.3rem;
    border-radius: 10rem;
    width: 70%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);
}
.hero-section img{
    width: 14rem;
    margin-bottom: 2.5rem;
}

/* card section */
.main{
    margin-top: 2.5rem;
}
.cards{
    padding: 3rem;
    text-align: center;
    box-shadow: -1px 1px 5px rgb(226, 225);
    border-radius: 10px;
    margin-top: 5rem;
}

.cards img{
    width: 100%;

}
.cards h2{
    padding: 1rem 0;
}

.cards p{
    line-height: 1.5rem;
    color: hsl(208, 11%, 55%);
    width: 110%;
    line-height: 20px;
}
.card-1{
    box-shadow: -1px 1px 5px rgb(226, 225, 225);

}
.card-2{
     
     box-shadow: -1px 1px 5px rgb(226, 225, 225);
}
.card-2 p{
    width: 105%;
    line-height: 20px;

}
.card-2 h2{
    margin-top: 3rem;
}
.card-3{
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
}
.card-3 P{
    width: 100%;
    line-height: 20px;
}
.footer{
    background-color: hsla(192,100%,9%);
    color: white;
    height: 60rem;
    margin-top: 9rem;
    position: relative;
}
.footer-img {
    width: 4%;
    height: 20px;
    margin-top: 1rem;

}
.ready{
    background-color:white ;
    color: black;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px 1px grey;
    position: absolute;
    top: -5rem;
    width: 90%;
    height: 20%;

    
}
.build{
    margin-top: 3rem;
    margin-left: 4rem;

}
.free{
    margin: 1rem;
    margin-left: 3rem;
    height: 2.3rem;
    border-radius: 10rem;
    width: 80%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);

}
.logo{
    width: 40%;
    margin-top: 13rem;
}
.location-p{
    width: 70%;
    margin-left: 2rem;
    margin-top: -1.4rem;
    font-size: large;
    font-weight:100;
}
.phone{
    margin-top: 2rem;

}
.phone-number{
    margin-top: -1.5rem;
    margin-left: 2rem;

}
.mail{
    margin-top: 2rem;
    height: 16px;

}
.email{
    margin-left: 2rem;
    margin-top: -1.3rem;
}
.social{
    text-align: center;
    
}
.social p{
    margin-top:2rem;
}
.social img{
    width: 40px;
    border-radius: 2rem;
    background-color: white;
    margin-left: 1rem;
}
.footer-word{
      margin-top: 3rem;
    margin-bottom: 5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}




     @media screen and (min-width: 1024px){ 
        .hud{
            width: 15%;
        }
        .hero-section{
            display: flex;
            
        }
        .hero-content{
            width: 60%;
            margin-right: 8rem;
        }
        .btn{
            margin-left: 45%;         
        }
        .hero-content h2{
            margin-top: 5rem;
            width: 70%;
            margin-left: 2.4rem;
        }
        .hero-content p{
            margin-left: 3rem;
            width: 105%;
        }
        .image img{
            width: 70%;
            margin-left: -9rem;
            margin-top: 2.5rem;

        
        }

        .cards{
            display: flex;
            flex-direction: row-reverse;
        }
        .card-content h2{
            margin-right: 22rem;
        }
        .card-content{
            margin-top: 2rem;
        }
        .card-content p{
            width: 60%;
            margin-left: 3rem;
        }
        .card-img{
           width: 50%; 
        }
        .card-2{
            display: flex;
            flex-direction: row;
        }

        .flowing h2{
            margin-top: 3rem;
        }
        .flowing p{
            width: 70%;
            margin-left: 11rem;

        }
        .flowing-pic{
            width: 60%;
            margin-left: 2rem;
        }
        .card-3 h2{
            margin-right: 13rem;
        }
        .card-3 p{
            width: 90%;
            margin-left: 2.5rem;
        }
        .user-img{
            margin-right: -2rem;
        }
        .footer{
            height: 50rem;
        }
        .ready{
            width: 50%;
            margin-left: 10rem;
        }
        .build{
            width: 100%;
            margin-left: 5rem;
        }
        .free{
            width: 50%;
            margin-left:8rem ;
        }
        
        .logo{
            width: 25%;
        }
        .footer-img{
            width: 20px;
        }
        .location-p{
            width: 30%;
        }
        .footer-word{
             display: flex;
             margin-left: 20rem; 
             margin-top: -10rem;
             gap: 3rem;
        }
        .social{
            margin-left: 40rem;
            margin-top: -11rem;  
        }
        .finish{
            margin-top: 20rem;
        }
        
    }