*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background:url(assets/bg-hero-mobile.svg) 
    #ECF9FF no-repeat;

}

nav button{
    background-color: #fefefe;
    border-radius: 18px;
    width: 40%;
    padding: 2px;
    border: white;
    box-shadow: -1px 2px 10px 1px grey;
    margin-left: 5rem;
    
}
nav .btn{
position: absolute;
top: 2.5rem;
}

nav img{
    width: 30%;
    margin-top: 40px;
}

.hero-section{
    text-align: center;
}

.hero-section h2{
    width: 100%;
    margin: auto;
    line-height: 2rem;
    margin-top: 2.5rem;
}

.hero-section p{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 1.3rem;
    line-height: 1,3rem;
}
.hero-content >button{
    margin: 2rem 0 3rem 0;
    height: 2.3rem;
    border-radius: 10rem;
    width: 70%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);
}
.hero-section img{
    width: 14rem;
    margin-bottom: 2.5rem;
}

/* card section */
.main{
    margin-top: 2.5rem;
}
.cards{
    padding: 3rem;
    text-align: center;
    box-shadow: -1px 1px 5px rgb(226, 225);
    border-radius: 10px;
    margin-top: 2.4rem;
}

.cards img{
    width: 100%;

}
.cards h2{
    padding: 1rem 0;
}

.cards p{
    line-height: 1.5rem;
    color: hsl(208, 11%, 55%);
    width: 125%;
    line-height: 20px;
}
.card-1{
    box-shadow: -1px 1px 5px rgb(226, 225, 225);

}
.card-2{
     
     box-shadow: -1px 1px 5px rgb(226, 225, 225);
}
.card-2 p{
    width: 105%;
    line-height: 20px;

}
.card-3{
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
}
.card-3 P{
    width: 110%;
    line-height: 20px;
}
.footer{
    background-color: hsla(192,100%,9%);
    color: white;
    height: 60rem;
    margin-top: 9rem;
    position: relative;
}
.footer-img {
    width: 4%;
    height: 20px;
    margin-top: 1rem;

}
.ready{
    background-color:white ;
    color: black;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px 1px grey;
    position: absolute;
    top: -5rem;
    width: 90%;
    height: 20%;

    
}
.build{
    margin-top: 3rem;
    margin-left: 4rem;

}
.free{
    margin: 1rem;
    margin-left: 3rem;
    height: 2.3rem;
    border-radius: 10rem;
    width: 80%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);

}
.logo{
    width: 40%;
    margin-top: 13rem;
}
.location-p{
    width: 70%;
    margin-left: 2rem;
    margin-top: -1.4rem;
    font-size: large;
    font-weight:100;
}
.phone{
    margin-top: 2rem;

}
.phone-number{
    margin-top: -1.5rem;
    margin-left: 2rem;

}
.mail{
    margin-top: 2rem;
    height: 16px;

}
.email{
    margin-left: 2rem;
    margin-top: -1.3rem;
}
.social{
    text-align: center;
    margin-top: -3rem;
    
    
}
.social p{
    margin-top:2rem;
}
.social img{
    width: 30px;
    border-radius: 2rem;
    background-color: white;

}
.footer-word{
      margin-top: 3rem;
    margin-bottom: 5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}



   /* @media screen and min-width: 1024px){
     nav .btn{
        width: 10%;
        position: absolute;
        top: 3rem;
        margin-left: 33rem;  
    }

    /* .hero-section */
    /* .hero-section{ */
        /* display: flex; */
    /* } */
    
    /* .hero-content{ */
        /* margin-top: 4rem; */
        /* margin-right:24rem; */
    
    
/* .hero-section h2{ */
    /* width: 100%; */
    /* line-height: 2rem; */
    /* margin-left: 5rem; */



/* .hero-section p{ */
    /* width: 100%; */
    /* margin-top: 1.3rem; */
    /* line-height: 1.3rem; */
    /* margin-left: 3.5rem; */


/* .hero-content >button{ */
    /* height: 2.8rem; */
    /* border-radius: 10rem; */
    /* margin-right: 6rem; */
    /* width: 50%; */
    /* color: #ffd0ff; */
    /* background-color: hsl(322, 100%, 66%); */

/* .hero-section .img{ */
    /* margin-top: 1.5rem; */
    /* width: 40%; */
    /* margin-right: 0rem;  */



